.Rproj.user
.Rhistory
.RData
.Ruserdata
DTAtools.Rproj
inst/doc
testdata
/doc/
/Meta/
example/
*Rproj
helper.R
renv
renv/
.Renviron
*docx

..Rcheck/00check.log
instructions_shiny.txt
DTATOOLSR_METADATA_IMPLEMENTATION.md
bla.md
test_comprehensive.md
test_output.md
Rplots.pdf
